@use "components/variables";
@use "components/notification";
@use "components/flash-alert";
@use "components/footer";
@use "components/header";
@use "components/modal";
@use "components/hero";
@use "components/filter";
@use "components/statistik";
@use "components/sidebar-admin";
@use "components/header-admin";
@use "pages/landing-page/home";
@use "pages/landing-page/profile";
@use "pages/landing-page/kegiatan";
@use "pages/landing-page/berita" as landing-berita;
@use "pages/landing-page/detail-berita";
@use "pages/landing-page/galery";
@use "pages/landing-page/tpq";
@use "pages/landing-page/madqur";
@use "pages/landing-page/madin";
@use "pages/landing-page/smp";
@use "pages/landing-page/smk";
@use "pages/landing-page/guru" as landing-guru;
@use "pages/landing-page/pendaftaran" as landing-pendaftaran;
@use "pages/landing-page/virtual-tour" as landing-virtual-tour;
@use "pages/landing-page/form-pendaftaran";
@use "pages/landing-page/pembayaran" as landing-pembayaran;
@use "pages/landing-page/detail-pembayaran";
@use "pages/landing-page/pembayaran-berhasil";
@use "pages/landing-page/cek-pendaftaran";
@use "pages/landing-page/detail-cek";
@use "pages/landing-page/daftar-ulang";
@use "pages/admin/login";
@use "pages/admin/dashboard";
@use "pages/admin/berita" as admin-berita;
@use "pages/admin/galeri";
@use "pages/admin/guru" as admin-guru;
@use "pages/admin/virtual-tour" as admin-virtual-tour;
@use "pages/admin/pendaftaran" as admin-pendaftaran;
@use "pages/admin/biaya";
@use "pages/admin/pembayaran" as admin-pembayaran;
@use "pages/admin/gelombang";
@use "pages/admin/banner";
@use "pages/admin/hasil-tes";
@use "pages/landing-page/responsive";

html {
    .landing-page {
        margin-top: 70px;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    .admin-layout {
        display: flex;
        min-height: 100vh;
    }

    .admin-main {
        flex: 1;
        min-width: 0;
        overflow-x: hidden;
        margin-left: 300px;
    }
}
